In [1]:
import pandas as pd
import numpy as np

In [2]:
cds = pd.read_csv('CAISO_2017to2018_stack.csv', index_col= 0)
cds.head()

                          Source   MWh
2017-08-29 00:00:00   GEOTHERMAL  1181
2017-08-29 00:00:00      BIOMASS   340
2017-08-29 00:00:00       BIOGAS   156
2017-08-29 00:00:00  SMALL HYDRO   324
2017-08-29 00:00:00   WIND TOTAL  1551

In [3]:
cds.shape

(61320, 2)

In [4]:
cds.size

122640

In [6]:
cds.describe()

                MWh
count  61320.000000
mean     975.185339
std     1758.685263
min        0.000000
25%      228.000000
50%      349.000000
75%      937.000000
max    10102.000000

In [9]:
wind_TF = cds['Source']=='WIND TOTAL'

In [13]:
wind = cds.loc[wind_TF,:]

In [15]:
wind.index

Index(['2017-08-29 00:00:00', '2017-08-29 01:00:00', '2017-08-29 02:00:00',
       '2017-08-29 03:00:00', '2017-08-29 04:00:00', '2017-08-29 05:00:00',
       '2017-08-29 06:00:00', '2017-08-29 07:00:00', '2017-08-29 08:00:00',
       '2017-08-29 09:00:00',
       ...
       '2018-08-28 14:00:00', '2018-08-28 15:00:00', '2018-08-28 16:00:00',
       '2018-08-28 17:00:00', '2018-08-28 18:00:00', '2018-08-28 19:00:00',
       '2018-08-28 20:00:00', '2018-08-28 21:00:00', '2018-08-28 22:00:00',
       '2018-08-28 23:00:00'],
      dtype='object', length=8760)

In [16]:
w_index = pd.to_datetime(wind.index)
w_index

DatetimeIndex(['2017-08-29 00:00:00', '2017-08-29 01:00:00',
               '2017-08-29 02:00:00', '2017-08-29 03:00:00',
               '2017-08-29 04:00:00', '2017-08-29 05:00:00',
               '2017-08-29 06:00:00', '2017-08-29 07:00:00',
               '2017-08-29 08:00:00', '2017-08-29 09:00:00',
               ...
               '2018-08-28 14:00:00', '2018-08-28 15:00:00',
               '2018-08-28 16:00:00', '2018-08-28 17:00:00',
               '2018-08-28 18:00:00', '2018-08-28 19:00:00',
               '2018-08-28 20:00:00', '2018-08-28 21:00:00',
               '2018-08-28 22:00:00', '2018-08-28 23:00:00'],
              dtype='datetime64[ns]', length=8760, freq=None)

In [17]:
w_index.hour

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
            ...
            14, 15, 16, 17, 18, 19, 20, 21, 22, 23],
           dtype='int64', length=8760)

In [19]:
w_index.day

Int64Index([29, 29, 29, 29, 29, 29, 29, 29, 29, 29,
            ...
            28, 28, 28, 28, 28, 28, 28, 28, 28, 28],
           dtype='int64', length=8760)

In [21]:
wind_ave = []
for i in range(0,24):
    wind_ave.append(np.mean(wind.loc[w_index.hour == i,'MWh']))

In [22]:
wind_ave

[2173.268493150685,
 2120.778082191781,
 2051.832876712329,
 1973.9698630136986,
 1881.4630136986302,
 1772.4849315068493,
 1646.6301369863013,
 1490.194520547945,
 1363.4027397260274,
 1290.5123287671233,
 1250.4082191780822,
 1247.6438356164383,
 1308.2876712328766,
 1412.4109589041095,
 1561.6027397260275,
 1726.6520547945206,
 1878.441095890411,
 2005.9342465753425,
 2109.0931506849315,
 2181.3616438356166,
 2229.408219178082,
 2231.6876712328767,
 2220.109589041096,
 2216.5260273972603]